body {
	background-color: #eee;
}

.frameContent {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  margin: 25px 7px 0px 7px;
  border-radius: 2px;

  .padding {
    padding: 15px 15px 5px;
  }

  h1, h2, h3, h4 {
    font-weight: inherit;
    margin: 0px;
  }
}

a {
  text-decoration: none;
  color: grey;
}


md-sidenav {

  .brand {
    padding: 16px 0px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin: 0 auto;

    img {
      margin: 0 auto;
    }
  }

}